@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800&display=swap');

body{
    font-family: 'Inconsolata', monospace;
    color: #333;
}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


.home{
    background: url('../img/header-dew.png');
}

.navbar{
    padding: 12px;
    background: #fff;
    box-shadow: 0px 6px 12px 0px #00000015;
}
.navbar-brand img{
    width: 45px;
    filter: grayscale(1);
    transition: 0.3s;
}
.navbar-brand img:hover{
    filter: none;
}
.offcanvas-body .nav-link{
    font-size: 1.8em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: .3s;
    width: fit-content;
    margin: 0 auto;
}
.navbar-toggler{
    padding: 0;
    border: 0;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.offcanvas{
    /* width: 100% !important; */
    text-align: center;
}
.offcanvas .btn-close{
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 20px;
}
.offcanvas .btn-close:focus{
    box-shadow: none;
}
.offcanvas-body .nav-item .nav-link:hover{
    transform: translateX(.6em);
}

#typewriter{
    font-size: 2.8em;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
}
#typewriter-2{
    color: #777;
    font-size: 0.78em;
    font-weight: 600;
    letter-spacing: 1px;
}

.about{
    background: #fafafa;
}
.text-title{
    text-align: center;
    font-weight: 700;
    font-size: 2.8em;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.text-title:after{
    content: '';
    display: block;
    width: 4%;
    border-top: 5px solid;
    margin: 0 auto;
    margin-top: 0.46em;
    border-radius: 50px;
    margin-bottom: 0.3em;
}
.text-sub{
    text-align: center;
    font-size: 1.4em;
    line-height: 1.6;
    font-weight: 500;
    color: #777;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 1.4em;
}
.box-skills{
    display: inline-block;
    background: #e7e7e7;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 6px;
    color: #777;
    font-weight: 600;
    letter-spacing: 1px;
    margin: .56em .3em;
}

.card{
    border: none;
    border-radius: 12px;
    margin-top: .8em;
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
}
.card{
    filter: grayscale();
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-.6em);
    filter: none;
}
.card-text{
    color: #777;
}

.fp-overflow{
    padding: 50px 16px;
}
.fp-watermark{
    display: none !important;
}
@media (max-width:300px){


}
@media only screen and (max-width: 600px) {
    #typewriter-2{
        font-size: .7em;
    }
    .text-title:after{
        width: 12%;
    }
    .text-sub{
        width: 100%;
    }
}