body{
    font-family: "Roboto", sans-serif;
}
.navbar{
    background: transparent;
    line-height: 120px;
}
.navbar-brand{
    font-family: 'Amaranth', sans-serif;
    font-size: 30px;
    color: white !important;
    font-weight: 600;
}
.nav-link{
    font: 500 14px/0 "Roboto", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 600;
    font-stretch: normal;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    color: #fff !important;
    padding: 14px;
}
.nav-link:hover{
    border-bottom: 1px solid;
}
.nav-item{
    margin-right: 40px;
}
.shrink {

    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #222222;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 0.50);
    line-height: 46px;

}
.banner-area{
     background: linear-gradient(to right, #8360c3, #2ebf91);
}
.box-me{
    min-height: 700px;
    border-radius: 12px;
    position: relative;
    bottom: -200px;
    padding: 36px;
    box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
    margin-bottom: 64px;
    background: url('bg.png');
    background-size: cover;
}
.media-body{
    vertical-align: middle;
    align-self: center;
}
.text-me h6{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-weight: normal;
    margin-bottom: 12px;
    color: #222222;
}
.text-me h3{
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family: 'Amaranth', sans-serif;
    color: #222222;
}
.text-me h4{
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #222222;
}
.text-me p{
    font-family: "Roboto", sans-serif;
    max-width: 540px;
    color: #777777;
    margin-bottom: 40px;
}
.banner-area .d-flex{
    padding-right: 100px;
}
.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.info-me li{
    display: flex;
    margin-bottom: 6px;
}
.info-me p{
    margin-left: 14px;
	margin-left: 14px;
    color: #222222;
    margin-bottom: 0;
}
.info-me i{
    margin-top: 8px;
    font-size: 22px;
    color: #222222;
}
.fa-medal{
    color: #efaf3e !important;
}
.sosmed-me{
    margin-top: 30px;
}
.sosmed-me li{
    display: inline-block;
    margin-right: 8px;
}
.sosmed-me li a{
    background: #e8e8e8;
    border-radius: 6px;
    display: grid;
    padding: 14px;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    font-size: 24px;
}
.sosmed-me li a:hover{
     background: linear-gradient(to right, #8360c3, #2ebf91);
	transition: 0.3s;
    text-decoration: none;
    font-size: 24px;
}
.text-me{
    margin-top: 64px;
}
.box-me img{
    display: block;
    margin: auto;
    margin-top: 64px;
    width: 380px;
}
@media (max-width:500px){
    .banner-area .d-flex{
        padding-right: 0;
    }
    .navbar-brand{
        margin: auto;
    }
    .box-me{
        bottom: -160px;
    }
    .box-me img{
    width: 260px;
    }
}